<!-- Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signup-modal">Signup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
          <span class="fa fa-facebook"></span> Sign in with Facebook
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="favorites-modal" tabindex="-1" role="dialog" aria-labelledby="favorites-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="favorites-modal">Your favorites</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% if @favorites.present? %>
            <% @favorites.each do |fav| %>
              <li class="list-group-item justify-content-between" id="favorite_<%= fav.id %>">
                <%= link_to fav.name, "#", onclick: "NopontoHome.line_click('', #{fav.name}); return false;", 'data-dismiss' => "modal", id: "closemodal" %>
                <%= link_to "delete", "#", onclick: "NopontoFavorites.delete_favorite(#{fav.id})" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
