<div id="sidebar">
  <div class="row">
    <div class="col-md-10" id="items">
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-outline-secondary" id="close-sidebar">X</button>
    </div>
  </div>
</div>
