// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
  padding: 10px 30px 10px 10px;
  z-index: 1000;
  display: none;
  position: fixed;
  right: 250px;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  background: #f5f5f5;
  overflow-y: scroll;
}

.line-item {

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
  }
}

.acessibility-icon {
  position: absolute;
  right: 0;
  width: 22px;
  bottom: 0;
}

.main-navbar {
  z-index: 2000;
  -webkit-box-shadow: 0px -3px 14px 0px #a8a8a8;
  -moz-box-shadow: 0px -3px 14px 0px #a8a8a8;
  box-shadow: 0px -3px 14px 0px #a8a8a8;
}
