<!DOCTYPE html>
<html>
  <head>
    <title>NoPonto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc1aaL4vDWVMt__WdEBG1hIuUi9nKGiAI&callback=initMap" async defer></script>
  </body>
</html>
